@page "/"
@page "/index"
@inject NavigationManager NavigationManager
@inject ILogger<Index> logger

<PageTitle>RssReader | A simple browser-based RSS reader</PageTitle>

<AuthorizeView>
    <Authorized>
        @{
            var currentPath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
            if (string.IsNullOrEmpty(currentPath))
            {
                NavigationManager.NavigateTo("/timeline", true);
            }
        }
    </Authorized>
</AuthorizeView>
<article class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-lg-10 mx-auto">
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <h3 class="mb-3">Welcome to RssReader</h3>
                    <p class="lead">A simple browser-based RSS reader.</p>
                </div>
                <div class="col-12 col-md-6">
                    <h4 class="mb-3">Features:</h4>
                    <ul class="list-unstyled">
                        <li class="mb-2">🗞️ Subscribe to RSS and Atom feeds</li>
                        <li class="mb-2">📰 Browse recent posts in an infinite-scroll feed</li>
                        <li class="mb-2">🏷️ Categorize feeds using <b>tags</b></li>
                        <li class="mb-2">🚰 Curate your own feed with <b>tag filters</b> and <b>saved posts</b></li>
                        <li class="mb-2">🔍 <b>Search</b> for posts</li>
                        <li class="mb-2">📥 <b>Import and export</b> feeds to/from other reader apps</li>
                        <li class="mb-2">📱 Responsive design for mobile & desktop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>