@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Sections
@using WasmApp.Services

@inject IUserClient userClient

@rendermode InteractiveWebAssembly

<div class="navbar-toggler">
    <span  @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
        <SectionOutlet SectionName="page-title" />
    </span>
    <div style="display: inline; overflow-x: auto; white-space: nowrap;">
        <SectionOutlet SectionName="toolbar" />
    </div>
</div>

<div class="@NavMenuCssClass nav-menu" @onclick="CollapseNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <span class="navbar-toggler-icon"></span>
            RssReader
        </div>
            @if (username != null && !string.Equals(username, "Guest", StringComparison.OrdinalIgnoreCase))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/timeline">
                        Timeline
                    </NavLink>
                </div>
                @* <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/focus">
                        Focus
                    </NavLink>
                </div> *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/search">
                        Search
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/feeds">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Feeds
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/.auth/logout">
                        Logout
                    </NavLink>
                </div>
                
            }
            else
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/.auth/login/aad">
                        Login
                    </NavLink>
                </div>
            }
            @* </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView> *@
    </nav>
</div>

@code {
    private string username = null;
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        username = await userClient.GetUsernameAsync();
        if (string.IsNullOrEmpty(username))
        {
            username = "Guest";
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}