

<form method="post" @onsubmit="SubmitAsync" @formname="newfeed">
    <AntiforgeryToken />
    <div>
        <InputText @bind-Value="NewFeedUrl" placeholder="Feed URL" />
    </div>
    <div>
        <button type="submit">Add feed</button>
    </div>
</form>

@code
{
    [Parameter]
    public IFeedRepository FeedStore { get; set; }

    [Parameter]
    public RssUser User { get; set; }

    [Parameter]
    public FeedClient FeedClient { get; set; }
    
    [SupplyParameterFromForm]
    private string NewFeedUrl { get; set; }

    private async Task SubmitAsync()
    {
        this.FeedStore.AddFeed(new NewsFeed(NewFeedUrl, this.User.Id));
        await this.FeedClient.AddFeedAsync(new NewsFeed(NewFeedUrl, this.User.Id));
        await this.OnInitializedAsync();
    }
}