@page "/content"
@attribute [StreamRendering]
@inject ILogger<Posts> logger
@inject IItemRepository itemRepository

@if (Post != null)
{
    <div id="postContent">
        @((MarkupString)Post.Content)
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [CascadingParameter]
    public NewsFeedItem Post { get; set; }

}
