@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@attribute [StreamRendering]
@inject IFeedRepository feedStore
@inject IFeedClient feedClient
@inject ILogger<Feeds> logger
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime jsRuntime
@rendermode InteractiveServer // needed for onclick

<PageTitle>Feeds</PageTitle>

<h1>Feeds</h1>

<p>Browse your RSS feeds here.</p>

@if (feeds == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Feeds</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (NewsFeed feed in feeds)
            {
                <tr>
                    <td><a href="posts?FeedUrl=@feed.FeedUrl">@feed.FeedUrl</a></td>
                    <td><button class="btn btn-link p-0" @onclick="() => DeleteAsync(feed.FeedUrl)">Delete</button></td>
                    <td>
                        @if (feed.IsPaywalled)
                        {
                            <button class="btn btn-link p-0" @onclick="() => TogglePaywalledAsync(feed)">Paywalled</button>
                        }
                        else
                        {
                            <button class="btn btn-link p-0" @onclick="() => TogglePaywalledAsync(feed)">Not paywalled</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" @onsubmit="SubmitAsync" @formname="newfeed">
        <AntiforgeryToken />
        <div>
            <InputText @bind-Value="NewFeedUrl" placeholder="Feed URL" />
        </div>
        <div>
            <button type="submit">Add feed</button>
        </div>
    </form>
}

@code {
    private IEnumerable<NewsFeed> feeds;
    private RssUser user;
    private DateTime lastCheck;

    [SupplyParameterFromForm]
    private string NewFeedUrl { get; set; }

    protected override void OnInitialized()
    {
        if (user != null)
        {
            feeds = this.GetFeedUrls();
        }
        else
        {
            feeds = Enumerable.Empty<NewsFeed>();
        }
        this.StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || user == null)
        {
            lastCheck = DateTime.UtcNow;
            var username = await this.GetUsernameAsync();
            user = await this.feedClient.RegisterUserAsync(username);
            feeds = this.GetFeedUrls();
            this.StateHasChanged();
        }
    }

    private async Task<string> GetUsernameAsync()
    {
        // invoke a javascript function to get the username
        var username = await jsRuntime.InvokeAsync<string>("getUsername");
        return username;
    }

    private async Task SubmitAsync()
    {
        this.feedStore.AddFeed(new NewsFeed(NewFeedUrl, this.user.Id));
        await this.feedClient.AddFeedAsync(new NewsFeed(NewFeedUrl, this.user.Id));
        await this.OnInitializedAsync();
    }

    private async Task DeleteAsync(string feed)
    {
        this.feedStore.DeleteFeed(this.user, feed);
        await this.OnInitializedAsync();
    }

    private IEnumerable<NewsFeed> GetFeedUrls()
    {
        return this.feedStore.GetFeeds(this.user);
    }

    private void TogglePaywalledAsync(NewsFeed feed)
    {
        feed.IsPaywalled = !feed.IsPaywalled;
        this.feedStore.Update(feed);
    }

}