@page "/"
@page "/index"
@inject NavigationManager NavigationManager
@inject ILogger<Index> logger

<AuthorizeView>
    <Authorized>
        @{
            var currentPath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
            if (string.IsNullOrEmpty(currentPath))
            {
                NavigationManager.NavigateTo("/timeline", true);
            }
        }
    </Authorized>
</AuthorizeView>
        <article class="content px-4">
            <h3>Welcome to RssReader</h3>
            <p>A simple RSS reader web application.</p>
            <p>
                Features:
                <ui>
                    <li>Browse recent posts in an infinite-scroll feed</li>
                    <li>Categorize your feeds using <b>tags</b></li>
                    <li>Avoid "the firehose effect" with <b>tag filters</b> and <b>saved posts</b></li>
                    <li><b>Search</b> for posts</li>
                    <li>OPML import/export is supported so you can <b>bring your own blogroll</b></li>
                    <li>Dark mode support</li>
                    <li>Responsive design for mobile & desktop</li>
                </ui>
            </p>
        </article>