@page "/posts"
@attribute [StreamRendering]
@using System.Xml
@using System.Xml.Linq
@using System.Xml.Serialization
@inject ILogger<Posts> logger

@rendermode InteractiveServer // needed for onclick

<PageTitle>Posts</PageTitle>

<h1>Posts from @(FeedUrl == null ? string.Empty : new Uri(FeedUrl).Authority)</h1>

<CascadingValue Value="GetRssFeed">
    <PostTable />
</CascadingValue>

@code {

    [SupplyParameterFromQuery]
    public string FeedUrl { get; set; }

    private IEnumerable<NewsFeedItem> GetRssFeed(IFeedClient fc, int page)
    {
        return fc.GetFeedItems(new NewsFeed(FeedUrl), page);
    }
}