@page "/timeline"
@page "/"
@inherits PostPageBase
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject ILogger<Timeline> logger
@inject IJSRuntime jsRuntime

<PageTitle>Timeline</PageTitle>

<AuthorizeView>

<h1>Timeline</h1>

<CascadingValue Value="@Page" Name="Page">
<CascadingValue Value="@Items" Name="Posts">
    <PostTable OnPageChanged="UpdatePage" OnRefreshTriggered="RefreshItems" />
</CascadingValue>
</CascadingValue>

@code {
    protected override async Task<List<NewsFeedItem>> GetPostsAsync()
    {
        var posts = await this.feedClient.GetTimelineAsync(Page);
        //this.logger.LogInformation("got timeline posts " + posts.Count());
        return posts?.ToList() ?? new List<NewsFeedItem>();
    }
}

</AuthorizeView>