@page "/timeline"
@attribute [StreamRendering]
@inject IPersistedFeeds feedStore
@inject ILogger<Timeline> logger
@rendermode InteractiveServer // needed for onclick

<PageTitle>Timeline</PageTitle>

<h1>Timeline</h1>

<CascadingValue Value="GetRssFeeds">
    <PostTable />
</CascadingValue>

@code {

    private async Task<IEnumerable<NewsFeedItem>> GetRssFeeds(IFeedClient feedClient, int page)
    {
        return await feedClient.GetFeedItems(this.GetFeedUrls(), page);
    }

    private IEnumerable<string> GetFeedUrls()
    {
        return this.feedStore.GetFeeds();
    }

}