@page "/timeline"
@page "/"
@attribute [StreamRendering]
@inject IFeedRepository feedStore
@inject IFeedClient feedClient
@inject ILogger<Timeline> logger
@inject IJSRuntime jsRuntime
@rendermode InteractiveServer // needed for onclick

<PageTitle>Timeline</PageTitle>

<h1>Timeline</h1>

    <CascadingValue Value="@Page" Name="Page">
        <CascadingValue Value="@Posts" Name="Posts">
            <PostTable OnPageChanged="UpdatePage" OnRefreshTriggered="RefreshPosts" />
        </CascadingValue>
    </CascadingValue>

@code {
    public int Page { get; set; } = 0;
    
    public List<NewsFeedItem> Posts { get; set; } = new List<NewsFeedItem>();

    protected override void OnInitialized()
    {
        Page = 0;
    }

    private async Task UpdatePage(int newValue)
    {
        Page = newValue;
        await this.RefreshPosts(this.feedClient.IsFilterUnread);
        StateHasChanged(); // Refresh the parent component
    }

    private async Task RefreshPosts(bool isFilterUnread)
    {
        this.feedClient.IsFilterUnread = isFilterUnread;
        var newPageRes = await this.feedClient.GetTimelineAsync(Page);
        Posts.AddRange(newPageRes);
        while (isFilterUnread && Posts.Where(p => !p.IsRead).Count() < 10 && newPageRes.Any())
        {
            Page++;
            newPageRes = await this.feedClient.GetTimelineAsync(Page);
            Posts.AddRange(newPageRes);
        }
        this.StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var username = await this.GetUsernameAsync();
            var user = await this.feedClient.RegisterUserAsync(username);
            Posts = (await this.feedClient.GetTimelineAsync(Page)).ToList();
            this.StateHasChanged();
        }
    }

    private async Task<string> GetUsernameAsync()
    {
        var username = await jsRuntime.InvokeAsync<string>("getUsername");
        return username;
    }

}