@page "/timeline"
@attribute [StreamRendering]
@inject IFeedRepository feedStore
@inject ILogger<Timeline> logger
@rendermode InteractiveServer // needed for onclick

<PageTitle>Timeline</PageTitle>

<h1>Timeline</h1>

<CascadingValue Value="GetRssFeeds">
    <PostTable />
</CascadingValue>

@code {
    private IEnumerable<NewsFeed> feeds;

    protected override Task OnInitializedAsync()
    {
        this.feeds = this.GetFeedUrls();
        return Task.CompletedTask;
    }

    private IEnumerable<NewsFeedItem> GetRssFeeds(IFeedClient feedClient, int page)
    {
        return feedClient.GetFeedItems(this.feeds, page);
    }

    private IEnumerable<NewsFeed> GetFeedUrls()
    {
        return this.feedStore.GetFeeds();
    }

}