@using WasmApp.Services
@implements IDisposable
@inject IJSRuntime JS
@inject IFeedClient FeedClient
@inject ILogger<Toolbar> Logger
@inject NavigationManager NavigationManager

<div class="toolbar">

    <button class="btn-link" @onclick="() => RefreshAsync()">
        @if (isRefreshing)
        {
            <i class="fas fa-sync fa-spin"></i>
        }
        else
        {
            <i class="fas fa-sync"></i>
        }
    </button>

    <button class="btn-link" style="@(this.IsFilterUnread ? "color: pink" : "")" @onclick="async () => {await ToggleUnreadFilterAsync.InvokeAsync(); }">[unread]</button>
    <button class="btn-link" style="@(this.IsFilterSaved ? "color: pink" : "")" @onclick="async () => {await ToggleSavedFilterAsync.InvokeAsync(); }">[saved]</button>

    <div class="dropdown-container">
        <button class="btn-link" @onclick="() => ToggleShowFilters()">[filters]</button>
        <div class="filter-dropdown @(tagsAreHidden ? "" : "show")" id="filter-tags">
            @if (this.userTags != null)
            {
                @foreach (var tag in this.userTags)
                {
                    <button class="btn-link" style="@(this.FilterTag == tag ? "color: pink" : "")" @onclick="async () => {await FilterForTag.InvokeAsync(tag); await ToggleShowFilters();}">[@tag]</button>
                }
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public bool IsFilterUnread { get; set; }

    [Parameter]
    public bool IsFilterSaved { get; set; }

    [Parameter]
    public string FilterTag { get; set; }

    [Parameter]
    public IEnumerable<string> userTags { get; set; }
    
    [Parameter]
    public EventCallback ToggleUnreadFilterAsync { get; set; }
    
    [Parameter]
    public EventCallback ToggleSavedFilterAsync { get; set; }
    
    [Parameter]
    public EventCallback<string> FilterForTag { get; set; }

    [Parameter]
    public List<NewsFeedItem> Posts { get; set; }

    [Parameter]
    public int Page { get; set; }

    private bool tagsAreHidden = true;
    private bool isRefreshing = false;

    public void Dispose()
    {
        if (FeedClient != null)
        {
            FeedClient.Dispose();
        }
    }

    private async Task RefreshAsync()
    {
        // Start UI animation
        isRefreshing = true;
        StateHasChanged();

        // Do the refresh
        await FeedClient.RefreshFeedsAsync();

        // Stop UI animation
        isRefreshing = false;
        StateHasChanged();

        // Clear current list of posts
        Posts.Clear();
        Page = 0;

        // Refresh list contents by toggling the unread filter twice. It's a hack but it works.
        await ToggleUnreadFilterAsync.InvokeAsync();
        await ToggleUnreadFilterAsync.InvokeAsync();
    }

    private async Task ToggleShowFilters()
    {
        tagsAreHidden = !tagsAreHidden;
        await InvokeAsync(StateHasChanged);
    }
}