@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <NavLink class="nav-link" href="/timeline">
                Timeline
            </NavLink>
            <NavLink class="nav-link" href="/focus">
                Focus
            </NavLink>
            <NavLink class="nav-link" href="/feeds">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Feeds
            </NavLink>
            <a class="nav-link" href="/.auth/logout?post_logout_redirect_uri=/">Logout</a>
        </div>
        <article class="">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
