.navbar-toggler {
    /* background-color: rgba(255, 255, 255, 0.1); */
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
    z-index: 1000;
}

.navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.15);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-menu {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* padding-top: 3.5rem; */
    overflow-y: auto;
    background-color: #ffffff
}

@media (max-width: 640.98px) {
    .nav-menu {
        margin-left: -250px;
        transition: margin-left 0.3s ease-out;
    }

    .nav-menu.collapse {
        display: block;
    }

    .nav-menu:not(.collapse) {
        margin-left: 0;
    }
}

.nav-item {
    padding: 0.5rem 0;
}

.nav-link {
    color: #d7d7d7;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: rgba(255,255,255,0.1);
}

.nav-link.active {
    color: white;
    background-color: rgba(255,255,255,0.25);
}

button.nav-link {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}